<p>search works!</p>

<div class="search">
    <div class="query">
        <div class="input">
            <input type="text" [(ngModel)] = "keywords"/>
        </div>
        <div class="btn">
            <button (click) = "searchHandler()">搜索</button>
        </div>
    </div>
    <div class="list">
        <div class="list-item" *ngFor="let item of historyList; let key = index">
              {{ item }}
           <span (click) = "deleteKeywordsHandler(key)">X</span>
        </div>
    </div>
</div>
