<h4>router相关 父子路由</h4>
<div class="demo">
    <div class="wrap">
        <div class="nav">
            <div class="link">
            <a [routerLink]="[ '/male' ]">男装</a>
            </div>
            <div class="link">
                <a [routerLink]="[ '/female' ]">女装</a>
            </div>
        </div>
            <router-outlet></router-outlet>
    </div>


    <!-- <div class="header">
        <h4>router相关 我是根组件</h4>
        <div class="h-item">
            <a routerLink="/index" routerLinkActive="active">首页</a>
        </div>
        <div class="h-item">
            <a routerLink="/news"  routerLinkActive="active">新闻</a>
        </div>
        <div class="h-item">
            <a routerLink="/goods" routerLinkActive="active">商品</a>
        </div>
    </div> 
    <router-outlet></router-outlet>  -->


<br>
<br>
<br>
<br>
<br>
<app-home></app-home>
<br>
<br>
<br>
<br>
<app-request></app-request>

<br>
<br>
<br>
<br>
<app-transition></app-transition>
<br>
<br>
<br>
<br>

<app-main></app-main>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
</div>