.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .query {
        width: 400px;
        height: 56px;
        display: flex;
        justify-content: space-between;
        .input input {
            width: 260px;
            height: 38px;
        }
    }
    .list {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid #a8a8a8;
        .list-item {
            height: 20px;
        }
    }
}